* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --primary-color: #F8A5BE;
    --gen-ad: #F0B8CC;
    --upper-box: #F4679D;
    --lower-box: #C0005A;
    --vip: #FF0066;
}

@font-face {
    font-family: Primetime;
    src: url(/assets/fonts/Primetime.ttf);
}

/* h1 {font-family: Primetime;} */

@font-face {
    font-family: 'Inter';
    src: url(/assets/fonts/InterVariable.ttf);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

p, h1, h2 {font-family: Inter;}
h1 {text-transform: uppercase; font-weight: 900; letter-spacing: 3px;}
button {outline: none;}
a {text-decoration: none;}

p, a, h1, h2 {user-select: none;}

hero {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    padding: 8vh;
    gap: 20px;
    background-color: #f6c6d6;
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23f2adc0' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
    animation: slide 2s linear infinite;
}

@keyframes slide {
    from {
        background-position: 0 0;
    }
    to {
        /* This should match the width/height in your SVG (40px) 
           to ensure a seamless loop */
        background-position: 40px 40px; 
    }
}

.hero-banner-header {
    display: flex;
    gap: 12px;
}

.in-your-area {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 8px black solid;
    background-color: var(--primary-color);
    width: 400px;
    h1 {font-size: 44px; font-family: Inter; font-weight: 900; letter-spacing: 3px;}
}

.hero-nav {
    margin-left: auto;
    padding: 12px;
    display: flex;
    height: fit-content;
    gap: 32px;
    p {font-size: 20px; font-weight: 600;}
}

.hero-nav .a-text {position: relative; height: fit-content; color: black;}

.hero-nav .a-text::after {
    content: "";
    position: absolute;
    top: 28px;
    right: 0;
    height: 4px;
    width: 0;
    background-color: black;
    transition: 250ms all ease;
}

.hero-nav .a-text:hover::after {
    width: 100%;
}

.hero-banner-container {
    width: 100%;
    position:relative;
}

.hero-ticket-info {
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(4px);
    position:absolute;
    top: 60px;
    right: 80px;
    border: 4px solid #F8A5BE;
    border-radius: 12px;
    min-height: 360px;
    width: 320px;
    overflow: hidden;
}

@media (max-width:1440px) {
    .hero-ticket-info {
        top: 20px;
        right: 20px;
    }
}

.hero-ticket-info-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    gap: 12px;
    background-color: white;
    color: #333;
    margin: 12px;
    padding: 16px;
    border-radius: 12px;
    h2 {font-family: Inter; font-size: 20px;}
    p {font-size: 14px;}
}

.hero-ticket-info-content .info p:first-child {
    font-size: 12px; font-weight: 400;
}

.info {
    display: flex;
    align-items: center;
    gap: 8px;
    p {font-size: 18px; font-weight: 600;}
}

.player-container {
    display: flex;
    align-items: center;
}

.player-buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 48px;
    padding: 0 12px;
    background-color: #f8a5becc;
    color: white;
    .icon {
        height: 32px; width: 32px;
        border-radius: 50%;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        svg {color: var(--primary-color); fill: var(--primary-color);}
    }
}

.hero-banner {
    object-fit: cover;
    width: 100%;
    height: 70vh;
}

.hero-banner-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    div {
        p {line-height: 1.75; font-size: 18px; font-weight: 550;}
    }
    a {
        display: flex;
        gap: 12px;
        background-color: #f6c6d6;
        padding: 20px 60px;
        color: black;
        border: 4px solid black;
        border-radius: 48px;
        font-size: 24px;
        font-weight: 700;
        text-transform: uppercase;
        font-family: Inter;
        transition: all ease 250ms;
    }
    a:hover {
        transform: scale(1.025);
    }
}

section {
    padding: 4vh 8vh;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.ticket-pricing-section, .ticket-form-section, .payment-form {
    min-height: 100vh;
    background-color: black;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23959595' fill-opacity='0.22'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.ticket-form-section a {
    display: flex;
    align-items: center;
    gap: 8px;
    width: fit-content;
    color: var(--primary-color);
}

.ticket-pricing-section {
    align-items: center;
    justify-content: center;
}

/* .ticket-pricing-banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/assets/images/ticket-pricing-banner.jpg);
    background-size: auto;
    background-size: cover;
    background-position: 0 720px;
    height: 16vh;
} */

/* .ticket-pricing-header { 
    grid-column: span 2; 
} */

.ticket-pricing-header, .select-seat-header {
    color: var(--primary-color);    
    border: 8px solid var(--primary-color);
    padding: 16px;
}

.payment-form {
    width: 100%;
}

.ticket-price-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    height: 100%;
}

.ticket-price {
    display: grid;
    grid-template-rows: 220px 1fr auto;
    grid-template-columns: 1fr;
    gap: 24px;
    font-family: Inter;
    color: white;
    background-color: #1F1F1F;
    border: 1px solid rgba(255, 255, 255, 0.08);
    border-radius: 12px;
    padding: 24px;
    h2 {
        font-size: 48px;
    }
   
}

/* .ticket-name {
    grid-column: span 3;
} */

.ticket-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: flex-start;
    p {line-height: 1.5;}
}

.advantage-container {
    display: flex; flex-direction: column; gap: 8px; justify-content: flex-start;
}

.advantage {
    display: flex; gap: 16px; align-items: center;
    p {font-size: 14px;}
}

.check-icon, .pay-step-icon {
    min-height: 28px; min-width: 28px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.pay-step-icon {
    min-height: 56px; min-width: 56px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: var(--vip);
}

#gen-ad {
    border-top: var(--gen-ad) 8px solid;
    .ticket-name {color: var(--gen-ad);}
    .advantage-container .advantage .check-icon {background-color: var(--gen-ad);}
    .buy-ticket a {background-color: var(--gen-ad);}
}
#upper-box {
    border-top: var(--upper-box) 8px solid;
    .ticket-name {color: var(--upper-box);}
    .advantage-container .advantage .check-icon {background-color: var(--upper-box);}
    .buy-ticket a {background-color: var(--upper-box);}
}
#lower-box {
    border-top: var(--lower-box) 8px solid;
    .ticket-name {color: var(--lower-box);}
    .advantage-container .advantage .check-icon {background-color: var(--lower-box);}
    .buy-ticket a {background-color: var(--lower-box);}
}
#vip {
    border-top: var(--vip) 8px solid;
    .ticket-name {color: var(--vip);}
    .advantage-container .advantage .check-icon {background-color: var(--vip);}
    .buy-ticket a {background-color: var(--vip);}
}

.buy-ticket {
    display: flex;
    a {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
        gap: 12px;
        padding: 8px 16px;
        border-radius: 20px;
        font-size: 20px;
        font-weight: 700;
        text-transform: uppercase;
        font-family: Inter;
        color: white;
        max-height: fit-content;
        transition: all 250ms ease;
    } a:hover {
        transform: scale(1.025);
    }
}

.artist-section {
    justify-content: center;
    position:relative;
    height: 100vh;
}

.artist-section::before {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background-image: url(/assets/images/hero-banner-bg.jpg);
  background-size: cover;
  filter: blur(4px);
  z-index: -1; /* Places the image behind the content */
}

.artist-container {
    display: grid; 
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    gap: 20px;
    div {
        width: auto; height: 600px;
        img {
            /* object-position: 0 -72px; */
            width: 100%; height: 100%;
            object-fit: cover;
            transition: all ease 250ms;
            cursor: pointer;
        } 
        img:hover {
            transform: scale(1.025);
        }
    }
}

/* seats.html */

.ticket-form {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto 1fr;
    align-items: flex-start;
    gap: 20px;
    height: 100%;
}

.select-seat {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 12px;
}

.seat, .payment {
    display: flex;
    color: white;
    position: relative;
    background-color: #1F1F1F;
    border: 1px solid rgba(255, 255, 255, 0.08);
    height: 100%;
}

.payment {
    flex-direction: column;
    gap: 16px;
    padding: 24px;
}

.payment-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    width: 100%;
    border-radius: 12px;
    height: fit-content;
    background-color: var(--vip);
    h2 {font-size: 56px; font-weight: 800;}
    p {line-height: 2;}
}
.how-to-pay {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    height: 100%;
}
.pay-step-container {
    display: flex;
    justify-content: center;
    width: 100%;
    line-height: 1.5;
    position: relative;
    background-color: #1F1F1F;
    border: 1px solid rgba(255, 255, 255, 0.08);
    padding: 24px;
    padding-top: 48px;
    margin-top: 24px;
}

.transaction-number-container {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    padding: 24px 0;
    border: 1px solid rgba(255, 255, 255, 0.08);
}

.transaction-number-input {
    text-align: center;
    background-color: white;
    padding: 8px;
    border: none;
    height: 56px; width: 64px;
    border-radius: 12px;
    font-size: 24px;
    font-weight: 600;
}

.transaction-number-input-separator {
    height: 2px; width: 32px;
    background-color: rgba(255, 255, 255, 0.5);
}

.seat {
    justify-content: center;
    svg {
        width: 80%;
        height: auto;
    } svg path {
        stroke: transparent;
        cursor: pointer;
        transition: filter 0.15s, opacity 0.15s;
    }  svg path:hover {
        filter: brightness(1.5);
        /* opacity: 0.85; */
    } svg path[fill="white"] {
        pointer-events: none;
    }
    #Stage, #STAGE {pointer-events: none;}
}

.legend {
    position: absolute;
    top: 20px; left: 20px;
    display: flex;
    gap: 12px;
    div {
        display: flex; gap: 6px;
        align-items: center;
        p {font-size: 14px;}
        .legend-color {
            width: 14px; height: 14px;
            border-radius: 4px;
        }
    }
    
}

.seat-summary {
    display: flex;
    flex-direction: column;
    gap: 12px;
    height: 100%;
}

.select-num-tickets, .order-summary {
    display: flex;
    background-color: #1F1F1F;
    border: 1px solid rgba(255, 255, 255, 0.08);
    padding: 24px;
    color: white;
}

.select-num-tickets {
    justify-content: space-between;
    align-items: center;
}

.order-summary {
    flex-direction: column;
    gap: 12px;
    /* height: 100%; */
    /* flex-grow: 1; */
}

.order-summary-info {
    display: flex;
    flex-direction: column;
    div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px 0;
        p:first-child {color: rgba(255, 255, 255, 0.5);}
        .zone-pill {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 8px 16px;
            font-size: 12px;
            background-color: var(--upper-box);
            border-radius: 16px;
            p {color: white;}
        }
        .info-icon {
            color: rgba(255, 255, 255, 0.5);
            display: flex;
            gap: 8px;
            padding: 0;
        }
    }
}

.select-num-tickets {
    .quantity-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 32px;
        height: 32px;
        border-radius: 4px;
        background-color: #2A2A2A;
        border: 1px solid rgba(255, 255, 255, 0.08);
        transition: all ease 250ms;
    } .quantity-btn:hover {
        background-color: var(--vip);
    }
    input[type="number"] {
        text-align: center;
        font-size: 20px;
        color: white;
        background-color: transparent;
        border: none;
        width: 32px;
        height: 32px;
        pointer-events: none;
    }
}

.step {
    display: flex; 
    gap: 8px; 
    align-items: center;
    color: rgba(255, 255, 255, 0.5);
    font-size: 18px;
}

.step:not(:first-child)::before {
    content: "";
    background-color: rgba(255, 255, 255, 0.5);;
    height: 2px;
    width: 56px;
}

.step-number {
    border: 1px solid rgba(255, 255, 255, 0.8);
    font-weight: bold;
    width: 28px; height: 28px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.step.active {color: var(--primary-color);}
.step.active::before {background-color: var(--primary-color);}

.step.active .step-number {
    background-color: var(--primary-color);
    color: black;
    border: none;
}

.proceed {
    display: flex;
    justify-content: center;
    padding: 12px;
    width: 100%;
    color: white;
    background-color: var(--vip);
    cursor: pointer;
    border-radius: 8px;
    font-size: 12px;
    transition: all ease 250ms;
} .proceed:hover {
    transform: scale(1.025);
}
